{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}

<html>
    <head>
        <title>ثبت نام</title>
    </head>

    <body>
        {% if registered %}
        <strong>an activation link sent to your profile!</strong>
        {% else %}

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    <form id="user_form" method="post" action="/signup/" class="form"
                            enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form user_form %}
                        {% bootstrap_form profile_form %}
                        <!--{{ user_form.as_p }}-->
                        <!--{{ profile_form.as_p }}-->

                        <!--<input type="submit" name="submit" value="Register" />-->
                        {% buttons %}
                        <button type="submit" class="btn btn-primary">
                ثبت نام
                        </button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </body>
</html>