{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block extra_head %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    {% bootstrap_css %}
    <link rel="stylesheet" href="//cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css">
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
{% endblock %}
{% block body %}
    <div class="container">
  <h2>نتیجه‌ی جستجو</h2>
        <form action="/quiz/search/" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{search}}" name="query"/>
            <select name="cat_id" id="cat_sel" onchange='this.form.submit()'>
                <option selected>انتخاب دسته</option>
                {% for cat in cats %}
                    <option value="{{ cat.id }}">{{ cat.name }}</option>
                {% endfor %}
            </select>
        </form>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>سوال</th>
      </tr>
    </thead>
    <tbody>
    {%for question in questions%}
      <tr>
        <td>{{ question.text }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
